@model App.Models.loginmodel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>


<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Constructions App</title>

    <link rel="stylesheet" href="~/proj/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="~/proj/css/vendors/simplebar.css">
    <link href="~/proj/css/style.css" rel="stylesheet">
    <link href="~/proj/css/examples.css" rel="stylesheet">
    <link href="~/proj/vendors/@@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
</head>

<body>
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center dark:bg-transparent">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0">
                            <div class="card-body">
                                <h1>Login</h1>
                                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                                {
                                    <p class="text-medium-emphasis">Sign In to your account</p>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <svg class="icon">
                                                <use xlink:href="~/proj/vendors/@@coreui/icons/svg/free.svg#cil-user"></use>
                                            </svg>
                                        </span>
                                        @*<input class="form-control" type="text" placeholder="Username">*@
                                        @Html.TextBoxFor(model => model.username, new { @class = "form-control", type="text", @id = "exampleInputEmail1", placeholder = "Username" })

                                    </div>
                                    <div class="input-group mb-4">
                                        <span class="input-group-text">
                                            <svg class="icon">
                                                <use xlink:href="~/proj/vendors/@@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                                            </svg>
                                        </span>
                                        @*<input class="form-control" type="password" placeholder="Password">*@
                                        @Html.PasswordFor(model => model.pswd, new { @class = "form-control", @id = "exampleInputPassword1", placeholder = "Password" })

                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button class="btn btn-primary px-4" type="submit">Login</button>
                                        </div>
                                        <div class="col-6 text-end">
                                            <button class="btn btn-link px-0" type="button">Forgot password?</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="card col-md-5 text-white bg-primary py-5">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Sign up</h2>
                                    <p>Sign up to get better recommendations with a free account.</p>
                                    <a type="button" href="@Url.RouteUrl("Register")" class="btn btn-lg btn-outline-light mt-3" typeof="button">
                                        Register
                                        Now!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div><a href="#">By Admin </a><a href="">Construction</a> © 2022 </div>
        <div class="ms-auto">Powered by&nbsp;<a href="">Team</a></div>
    </footer>
    </div>

    <script src="~/proj/vendors/@@coreui/coreui-pro/js/coreui.bundle.min.js"></script>
    <script src="~/proj/vendors/simplebar/js/simplebar.min.js"></script>
    <script src="~/proj/vendors/chart.js/js/chart.min.js"></script>
    <script src="~/proj/vendors/@@coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="~/proj/vendors/@@coreui/utils/js/coreui-utils.js"></script>
    <script src="~/proj/js/main.js"></script>
    <script>
    </script>
</body>

</html>