@model App.Models.usermodel

@{
    var isactive = Model.tabid == 2 ? "active" : "inactive";
}

<div class="tab-pane @isactive" id="pages">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("addpage", "User", FormMethod.Post))
                {
                    <input type="hidden" asp-for="tabid">
                    <input type="hidden" asp-for="pageid">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="pageName" class="form-label fw-semibold">PAGE NAME:</label>
                            <input required type="text" asp-for="pagename" class="form-control" id="pageName">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info rounded-pill w-25 mt-3 mb-3 fw-semibold text-light text-center ms-auto text-uppercase justify-content-end">submit</button>
                }




                <div class="list-view">
                    <table id="page-list" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>PAGE NAME</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.pagelist != null)
                            {
                                @foreach (var x in Model.pagelist)
                                {
                                    <tr>
                                        <td>@x.id</td>
                                        <td>@x.pagename</td>
                                        <td>
                                            <a class="btn btn-success me-2" href="/user/editpage/@x.id">
                                                <i class="cil-pencil icon icon-sm"></i>
                                            </a>
                                            <a class="btn btn-info me-2" href="/user/deletepage/@x.id">
                                                <i class="cil-trash icon icon-sm"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
