@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model App.Models.usermodel

@{
    var isactive = Model.tabid == 1 ? "active" : "inactive";
}



<div class="tab-pane @isactive" id="role">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                @using (Html.BeginForm("addrole", "User", FormMethod.Post))
                {
                    <input type="hidden" asp-for="tabid">
                    <input type="hidden" asp-for="roleid">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="role_name"
                               class="form-label fw-semibold">
                                ROLE NAME
                                :
                            </label>
                            <input type="text" asp-for="rolename" class="form-control"
                               id="role_name">
                        </div>
                        <div class="col-md-6 mb-3">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info rounded-pill w-25 mt-3 mb-3 fw-semibold text-light text-center ms-auto text-uppercase justify-content-end">Submit</button>
                }





                <div class="list-view">
                    <table id="role-list" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>ROLE NAME</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.rolelist != null)
                            {
                                @foreach (var x in Model.rolelist)
                                {
                                    <tr>
                                        <td>@x.id</td>
                                        <td>@x.rolename</td>
                                        <td>
                                            <a class="btn btn-success me-2" href="/user/editrole/@x.id">
                                                <i class="cil-pencil icon icon-sm"></i>
                                            </a>
                                            <a class="btn btn-info me-2" href="/user/deleterole/@x.id">
                                                <i class="cil-trash icon icon-sm"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
