<!DOCTYPE html>


<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Constructions App</title>

    @*<link rel="stylesheet" href="~/proj/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="~/proj/css/vendors/simplebar.css">
    <link href="~/proj/css/style.css" rel="stylesheet">
    <link href="~/proj/css/examples.css" rel="stylesheet">
    <link href="~/proj/vendors/@@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">*@

    <link rel="stylesheet" href="~/proj/css/vendors/all.min.css" />
    <link rel="stylesheet" href="~/proj/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="~/proj/css/vendors/simplebar.css">
    <link rel="stylesheet" href="~/proj/vendors/@@coreui/icons/css/brand.css">
    <link rel="stylesheet" href="~/proj/vendors/@@coreui/icons/css/flag.css">
    <link rel="stylesheet" href="~/proj/vendors/@@coreui/icons/css/free.css">
    <link rel="stylesheet" href="https://unpkg.com/@@coreui/icons/css/brand.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@@coreui/icons/css/flag.min.css">
    <link href="~/proj/css/style.css" rel="stylesheet">
    <link href="~/proj/css/examples.css" rel="stylesheet">
    <link href="~/proj/vendors/@@coreui/icons/css/all.min.css">
    <link rel="stylesheet" href="~/proj/css/dataTables.jqueryui.min.css">
    <link href="~/proj/vendors/@@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    <link rel="stylesheet" href="~/proj/vendors/DataTables/datatables.min.css">
    <link rel="stylesheet" href="~/proj/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

    <script src="~/proj/js/jquery.min.js"></script>
    <script src="~/proj/vendors/@@coreui/icons/js/index.js"></script>
    <script src="~/proj/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/proj/js/jquery.dataTables.js"></script>
    <script src="~/proj/vendors/@@coreui/coreui-pro/js/coreui.bundle.min.js"></script>
    <script src="~/proj/vendors/simplebar/js/simplebar.min.js"></script>
    <script src="~/proj/vendors/chart.js/js/chart.min.js"></script>
    <script src="~/proj/vendors/@@coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="~/proj/vendors/@@coreui/utils/js/coreui-utils.js"></script>
    <script src="~/proj/js/main.js"></script>
    <script src="~/proj/js/all.min.js"></script>
    <script src="~/proj/vendors/DataTables/datatables.min.js"></script>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

   

</head>

<body>

    <partial name="_adminsidebar.cshtml" for="@Model">

        @RenderBody()

        @*@Html.Partial(".cshtml");*@




        @* <script src="~/proj/vendors/@@coreui/coreui-pro/js/coreui.bundle.min.js"></script>
        <script src="~/proj/vendors/simplebar/js/simplebar.min.js"></script>
        <script src="~/proj/vendors/chart.js/js/chart.min.js"></script>
        <script src="~/proj/vendors/@@coreui/chartjs/js/coreui-chartjs.js"></script>
        <script src="~/proj/vendors/@@coreui/utils/js/coreui-utils.js"></script>
        <script src="~/proj/js/main.js"></script>*@

</body>
</html>


<script>
    $(document).ready(function () {
        $('#role-list').DataTable();
        $('#page-list').DataTable();
        $('#rolePage-lists').DataTable();
        $('#user-lists').DataTable();

        $('#supplier-list').DataTable();
        $('#masterfields-list').DataTable();
        $('#mastertype-list').DataTable();
        $('#mastertypefield-lists').DataTable();
        $('#mastertypesuppliers-list').DataTable();

        $('#condominium-list').DataTable();
        $('#apartment-lists').DataTable();

        $('#customer-list').DataTable();
        $('#customer-choice-list').DataTable();
    });
</script>