@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="footer">
    <div><a href="#">By Admin </a><a href="">Construction</a> © 2022 </div>
    <div class="ms-auto">Powered by&nbsp;<a href="">Team</a></div>
</footer>