<!DOCTYPE html>


<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Constructions App</title>

    <link rel="stylesheet" href="~/proj/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="~/proj/css/vendors/simplebar.css">
    <link href="~/proj/css/style.css" rel="stylesheet">
    <link href="~/proj/css/examples.css" rel="stylesheet">
    <link href="~/proj/vendors/@@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
</head>

<body>
    @RenderBody()

    @Html.Partial("_adminsidebar.cshtml");

 
       

    <script src="~/proj/vendors/@@coreui/coreui-pro/js/coreui.bundle.min.js"></script>
    <script src="~/proj/vendors/simplebar/js/simplebar.min.js"></script>
    <script src="~/proj/vendors/chart.js/js/chart.min.js"></script>
    <script src="~/proj/vendors/@@coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="~/proj/vendors/@@coreui/utils/js/coreui-utils.js"></script>
    <script src="~/proj/js/main.js"></script>
    <script>
    </script>
</body>

</html>